provides = \""${provides}"\"
version = \""${version}"\"
checksum = \"\"
tarball = \"\"
licence = \"\"

[commands]
workingDir = \""${provides}"\"
configure = \"./configure {{ .ConfigureFlags }}\"
compile = \"make\"
install = \"make install\"

[profiles]
[profiles.default]
deps = []
